---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import { HOME, TECHNOLOGIES, SOCIALS } from '../consts'
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section>
      <h1
        class="w-full text-start text-[min(12vw,72px)] leading-[0.9] font-medium tracking-[-2px] sm:tracking-[-4px]">
        <span class="text-gray-500 dark:text-gray-400">software developer</span>
      </h1>
    </section>
  </Container>
</Layout>
