---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import { HOME } from '../consts'
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section>
      <h1>{HOME.TITLE}</h1>
      <p>hello world</p>
    </section>
  </Container>
</Layout>
