---
import Container from '../components/Container.astro'
import { SITE } from '../consts'
const currentYear = new Date()
---

<footer role="contentinfo">
  <Container>
    <div>
      &copy; {currentYear.getFullYear()} | <a href="/">{SITE.NAME}</a>
    </div>
  </Container>
</footer>
